<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.weily.weily"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.IntroduceAndroidActivity"
            android:label="@string/title_activity_introduce_android"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.IntroduceUnityActivity"
            android:label="@string/title_activity_introduce_unity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.IntroduceWebActivity"
            android:label="@string/title_activity_introduce_web"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.IntroduceArtActivity"
            android:label="@string/title_activity_introduce_art"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
        </activity>
    </application>

</manifest>