<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.weily.weily"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activity.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activity.IntroduceActivity.IntroduceAndroidActivity"
            android:label="@string/title_activity_introduce_android"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activity.IntroduceActivity.IntroduceUnityActivity"
            android:label="@string/title_activity_introduce_unity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activity.IntroduceActivity.IntroduceWebActivity"
            android:label="@string/title_activity_introduce_web"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activity.IntroduceActivity.IntroduceArtActivity"
            android:label="@string/title_activity_introduce_art"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activity.PageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>

        <receiver
            android:name=".AppWidget.HitokotoAppWidget"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info"/>
        </receiver>

        <service
            android:name=".AppWidget.ConnectService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService,InnerclassSeparator"/>

        <activity
            android:name=".Activity.Setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Activity.Setting.WidgetSettingActivity"
            android:label="@string/title_activity_widget_setting"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>